@import 'variables';
@import 'mixins';

// default

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after, &:before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html {
    font-size: 16px;
    font-family: $mainFonts;
    line-height: 1.6;
}
h1, h2, h3, h4 {
    font-family: $headerFonts;
}
ul {
    list-style: none;
}

// clearfix

.clearfix:after{
    display:table;
    clear: both;
    content: "";
}

// layout

.bg-header {
    background-color: #fff;
    background-color: $lightBlue;
    color: $darkGrey;
    border-bottom: 1rem solid $medBlue;
    border-top: 1rem solid $darkBlue;
    position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 30%;
        height: 1rem;
        background-color: $darkBlue;
    }
    &:before {
        left:0;
    }
    &:after {
        right: 0;
    }
}
.bg-focal {
    background-color: $lightBrown;
    color: $darkBrown;
}
.bg-content1 {
    background-color: #fff;
    color: $darkGrey;
}
.bg-content2 {
    background-color: $lightBlue;
    color: $darkBlue;
}
.bg-footer {
    background-color: #fff;
    color: $lightGrey;
}
header {
    width: 400px;
    margin: 0 auto;
    position: relative;
    & h1 {
        width: 100%;
        padding: 0 2rem;
    }
    & nav {
    width: 100%;
        &>ul li {
            width: 100%;
            float: none;
        }
    }
}
section {
    &.focal {
        width: 400px;
        margin: 0 auto;
    }
    &.content1, &.content2{
        padding: 2rem 0;
    }
}
.row {
    clear: both;
}
.col-2 {
    @include col-width(2);
    float: left;
    padding-bottom: 2rem;
    border-left: 1px solid $darkBlue;
    margin-bottom: 2rem;
}
footer {
    padding: 2rem 0;
    & .col-2:first-child {
        border-left: 0;
    }
}

// nav

header {
    & nav {
        padding: 2rem 0;
        clear: both;
        &>ul>li>a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: $darkGrey;
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border: 1px solid $lightGrey;
            border-bottom: none;
            padding: 1rem 2rem;
            line-height: 1;
            background-color: #fff;
            &:hover {
                font-weight: 700;
                color: $darkBrown;
            }
        }
    }
}

// content

header {
    & h1 {
        color: $darkBrown;
        letter-spacing: 0.1rem;
        & i.fa-lg {
            display: block;
            width: 25%;
            float: left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $lightBrown;
            & ~ span {
                float: right;
                width: 75%;
                font-size: 3.998rem;
                padding-left: 1rem;
                text-align: right;
            }
        }
    }
}
.focal {
    & h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }
    & .author {
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}
.content1 {
    & h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;
        & i {
            vertical-align: middle;
            padding-right: 2rem;
        }
    }
    & p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}
.content2 {
    & h3, & h4 {
        font-size: 1.999rem;
    }
    & h3 {
        padding: 1rem 2rem 0.5rem;
    }
    & h4 {
        padding: 1rem 2rem 0;
    }
    & p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }
    & li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
    }

}

// footer

footer {
    & h4, & p {
        padding: 0.5rem 2rem;
    }
    & h4 {
        font-size: 1.414rem;
        color: $darkBrown;
        &[lang=de]{
            display: block;
        }
        &[lang=en], &[lang=ar], &[lang=ru] {
            display: none;
        }
    }
    & p, & .fa-circle {
        color: $darkGrey;
    }
    & p {
        font-size: 1rem;
    }
}

// media queries

@import 'queries';